<h1>ABOUT ME</h1>
<div id="content">
    <div class="row justify-content-md-center" id="photos">
        <div class="col-md-auto"> 
            <img src="assets/images/passion.jpg" height="275" width="275">
        </div>
        <div class="col-md-auto"> 
            <img src="assets/images/mission.jpg" height="275" width="275">
        </div>
        <div class="col-md-auto"> 
            <img src="assets/images/scottsdale.jpg" height="275" width="275">
        </div>
        
    </div>
    
    <div class="row justify-content-md-center" id="about">
        <div class="col-md-10">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                  Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                  felis imperdiet proin. Varius duis at consectetur lorem donec massa sapien. Nulla facilisi etiam dignissim diam 
                  quis enim. Magna fringilla urna porttitor rhoncus. Et leo duis ut diam quam nulla porttitor massa id. Pellentesque 
                  sit amet porttitor eget dolor morbi. Quis blandit turpis cursus in hac habitasse platea dictumst. Faucibus in ornare 
                  quam viverra orci sagittis eu volutpat odio. Orci nulla pellentesque dignissim enim sit amet venenatis urna cursus. 
                  Dolor sit amet consectetur adipiscing elit ut aliquam. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
            </p>
            <p>
                Sit amet purus gravida quis. Pharetra diam sit amet nisl suscipit adipiscing. Commodo ullamcorper a lacus vestibulum sed arcu. 
                Nunc congue nisi vitae suscipit. Posuere urna nec tincidunt praesent semper feugiat nibh. Urna nunc id cursus metus. Dolor sit 
                amet consectetur adipiscing. Est ante in nibh mauris cursus mattis molestie. Mi sit amet mauris commodo quis imperdiet massa 
                tincidunt. Arcu risus quis varius quam quisque id diam.
            </p>

        </div>
    </div>

</div>

