<h1>RESUME</h1>

<div id="content">
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <h5><b>EXPERIENCE</b></h5>
        </div>
        <div class="col-md-8">
            <div>
                <h5>AMERICAN EXPRESS</h5>
                <div style="font-size: 13px; color: lightslategray">Phoenix, Arizona</div>
                <div style="font-size: 13px; color: lightslategray">June 2019 - August 2019</div>
                <p></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
            <br>
            <div>
                <h5>MANHATTAN ASSOCIATES</h5>
                <div style="font-size: 13px; color: lightslategray">Atlanta, Georgia</div>
                <div style="font-size: 13px; color: lightslategray">May 2018 - August 2018</div>
                <p></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
            <br>
            <div>
                <h5>GEORGIA TECH COLLEGE OF COMPUTING</h5>
                <div style="font-size: 13px; color: lightslategray">Altanta, Georgia</div>
                <div style="font-size: 13px; color: lightslategray">July 2018 - Present</div>
                <p></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
            <br>
        </div>
    </div>
    <hr>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <h5><b>SKILLS</b></h5>
        </div>
        <div class="col-md-8">
            <div>
                <h5>COMFORTABLE</h5>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                </ul>
            </div>
            <div>
                <h5>EXPERIENCE WITH</h5>
                <ul>
                    <li>C</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <h5><b>EDUCATION</b></h5>
        </div>
        <div class="col-md-8">
            <div>
                <h5>GEORGIA INSTITUTE OF TECHNOLOGY</h5>
                <div style="font-size: 13px; color: lightslategray">Altanta, Georgia</div>
                <div style="font-size: 13px; color: lightslategray">August 2017 - Present</div>
                <p></p>
                <p>
                    Major: Bachelors of Science in Computer Science<br>
                    Concentrations: People and Information Internetworks<br>
                    GPA: 3.94/4.0
                </p>
            </div>    
        </div>
    </div>
    <div class="row justify-content-md-center">
        <button type="button" class="btn btn-outline-info">Download Resume</button>
    </div>
</div>
