#footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    text-align: center;
    /* background-color: whitesmoke; */
    /* padding-bottom: 20px 0px 20px 0px;  */
}

#c { 
    color: gray; 
    font-family: "Raleway"; 
    font-size: 13px; 

}

a { 
    color: black; 
}

.icon { 
    opacity: 0.70; 
}