<h1>MY INTERESTS</h1>

<div id="content">
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p style="font-size:100px">☕️</p>
        </div>
        <div class="col-md-8">
            <div>
                <h5>COFFEE & COFFEE SHOPS</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p style="font-size:100px">🍱</p>
        </div>
        <div class="col-md-8">
            <div>
                <h5>EATING YUMMY FOOD</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p style="font-size:100px">✈️</p>
        </div>
        <div class="col-md-8">
            <div>
                <h5>TRAVELING TO COOL PLACES</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <p style="font-size:100px">👩🏻‍🏫</p>
        </div>
        <div class="col-md-8">
            <div>
                <h5>TEACHING</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Donec et odio pellentesque diam volutpat commodo. Massa sapien faucibus et molestie ac feugiat sed lectus vestibulum.
                      Massa massa ultricies mi quis hendrerit. Massa tempor nec feugiat nisl pretium fusce id. Vulputate eu scelerisque 
                      felis imperdiet proin.
                </p>
            </div>
        </div>
    </div>
</div>
