<nav id="navbar">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/experience">EXPERIENCE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/interests">INTERESTS</a>
        </li>
    </ul>
</nav>
